@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #121515;
  overflow-x: hidden;
}

main {
  padding: 15px;
}

section + section {
  margin: 40px 0px;
}

section header h2 {
  padding: 10px 0;
}

section p {
  padding: 10px 0;
}

/* Navigation Field */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 0 0 5px 5px;
  z-index: 3;
}

nav ul {
  list-style: none;
  padding: 12px 15px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  font-family: monospace;
  color: gray;
  text-decoration: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

nav ul li a:hover {
  color: white;
}

nav ul li + li {
  padding-left: 5px;
}

#introduction {
  position: relative;
  height: 100vh;
  /*Content*/
}

#introduction header {
  position: relative;
  padding-top: 75px;
}

#introduction header #typewriter {
  font-size: 30px;
  font-family: monospace;
  color: #ff00ee;
}

#introduction header #typewriter::after {
  content: '|';
  margin-left: -5px;
  -webkit-animation: blink 0.7s infinite;
          animation: blink 0.7s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#introduction header h1 {
  font-size: 25px;
  font-family: monospace;
  color: white;
  padding-top: 20px;
}

#introduction header p {
  padding: 3vh 0 6vh 0;
  color: #a1a1a1;
}

#introduction #contact {
  font-family: monospace;
  color: white;
  text-decoration: none;
  padding: 5px;
  border: 2px solid white;
  border-radius: 7px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

#introduction #contact:hover {
  background-color: white;
  color: black;
}

#about_me header h2 {
  font-family: monospace;
  font-size: 25px;
  color: white;
}

#about_me article p {
  color: gray;
}

#about_me article .flex {
  padding-top: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#about_me article .flex .child ul {
  list-style: none;
}

#about_me article .flex .child ul li {
  font-family: monospace;
  color: white;
  padding-top: 1vh;
}

#about_me article .flex .child ul li::before {
  content: "✅";
  display: inline-block;
  width: 2em;
}

#about_me article .flex .child ul .learning::before {
  content: "🎓";
}

#portfolio header h2 {
  font-family: monospace;
  font-size: 25px;
  color: white;
}

#portfolio header p {
  color: gray;
  text-align: center;
}

#contact_me header h2 {
  font-family: monospace;
  font-size: 25px;
  color: white;
}

#contact_me header p {
  color: gray;
}

#contact_me input,
#contact_me textarea {
  width: 100%;
  color: white;
  background-color: #121515;
  border: 1px solid white;
  border-radius: 7px;
  padding: 10px;
  margin: 10px 0px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

#contact_me input:focus,
#contact_me input:hover,
#contact_me textarea:focus,
#contact_me textarea:hover {
  color: black;
  background-color: white;
  outline: none;
}

#contact_me button {
  font-family: monospace;
  width: 80px;
  background-color: #181818;
  color: white;
  text-decoration: none;
  padding: 5px;
  border: 1px solid white;
  border-radius: 7px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

#contact_me button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

footer {
  background-color: #0a0b0b;
  padding: 20px 0 0 0;
}

footer .links {
  width: 150px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 20px;
  padding: 0 0 15px 0;
}

footer .links div {
  border: 1px solid white;
  border-radius: 60px;
  padding: 6px 11px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

footer .links div a {
  color: white;
  text-decoration: none;
}

footer .links .linkedin:hover,
footer .links .linkedin:active {
  cursor: pointer;
  background-color: #0077b5;
  border-color: #0077b5;
}

footer .links .github:hover,
footer .links .github:active {
  cursor: pointer;
  background-color: #6e5494;
  border-color: #6e5494;
}

footer .links .instagram:hover,
footer .links .instagram:active {
  cursor: pointer;
  background-color: #E1306C;
  border-color: #E1306C;
}

footer .made-with {
  background-color: black;
}

footer .made-with p {
  color: #525252;
  text-align: center;
  cursor: default;
  padding: 7px;
}

footer .made-with p #heart_container {
  position: relative;
  display: inline-block;
  width: 20px;
}

footer .made-with p #heart_container #heart {
  position: absolute;
  left: 0;
  bottom: -4px;
}

footer .made-with p #heart_container #heart:hover {
  -webkit-animation: beat .5s infinite alternate;
          animation: beat .5s infinite alternate;
}

@-webkit-keyframes beat {
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes beat {
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}
/*# sourceMappingURL=style.css.map */